.input {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: var(--text-color);
    background-color: #fcfcfd;
    border: 1px solid #efefef;
    border-radius: 10px;
    box-shadow: 15px 20px 45px 0px rgba(233, 233, 233, 0.25);
    padding: 16px 30px;
    min-width: 200px;
}

.input-wrapper {
    position: relative;
}

.icon {
    position: absolute;
    left: 9px;
    top: 16px;
}